<div id="flash-messages">
    <?php
    if (isset($params['flashMessages'])):
        foreach($params['flashMessages'] as $type => $messages):
            foreach($params['flashMessages'][$type] as $message):
                ?>
                <div class="alert alert-<?= $type; ?>">
                    <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <?= $message; ?>
                </div>
            <?php
            endforeach;
        endforeach;
    endif;
    ?>
</div>
