<?php include(__DIR__ . '/../header.html'); ?>

<div class="container">
    <div class="page-header">
        <p><span style="font-size: xx-large"><?php echo $params['book']->getName() ?></span></p>
        <p><span style="font-size: large">Автор: <?php echo $params['book']->getAuthor() ?></span></p>
    </div>
    <div class="col-md-6">
        <p><span style="font-size: medium; font-weight: bold">Категория: <?php echo $params['book']->getCategory()->getName() ?></span> </p>
        <p><span style="font-size: medium; font-weight: bold">Рейтинг: <?php echo $params['book']->getRating() ?></span> </p>
        <p><span style="font-size: medium; font-weight: bold">Описание:</span></p>
        <p><span style="font-size: medium"><?php echo $params['book']->getDescription() ?></span></p>
        <p><span style="font-size: medium; font-weight: bold">Имеется у:</span> </p>
        <?php foreach ($params['book']->getUsers() as $user): ?>
            <p><span style="font-size: medium"><?php printf("%s %s ", $user->getFirstName(), $user->getLastName()) ?></span></p>
        <?php endforeach; ?>
        <?php if (isset($_SESSION['email'])): ?>
            <?php if (isset($params['book_owner']) && $params['book_owner'] === true): ?>
                <a href="/books/update?book_id=<?php echo $params['book']->getId(); ?>" class="btn btn-default">
                    Редактировать данные книги
                </a>
            <?php else: ?>
                <span style="font-weight: bold">Если у вас тоже есть подобная книга, вы можете:</span>
                <p><a href="/user/add-book?book_id=<?php echo $params['book']->getId(); ?>" class="btn btn-default">
                    Поделиться книгой
                </a></p>
            <?php endif; ?>
        <?php endif; ?>
    </div>
</div>



<?php include(__DIR__ . '/../footer.html'); ?>
