<?php include(__DIR__ . '/../header.html'); ?>

<link  rel="stylesheet" type="text/css" href="/css/star-rating.css">

<div class="container">
    <div class="page-header">
        <p><span class="book-name"><?php echo $params['book']->getName() ?></span></p>
        <p><span class="book-author">Автор: <?php echo $params['book']->getAuthor() ?></span></p>
    </div>
    <div class="col-md-6">
        <p><b>Категория: <?php echo $params['book']->getCategory()->getName() ?></b> </p>
        <p><b>Рейтинг: <?php echo $params['book']->getRating() ?></span> </b>

        <?php if (!$params['is_rated']): ?>
            <form class="form-horizontal" role="form" method="post">
                <div class="form-group <?php echo isset($params['errors']['rating']) ? 'has-error' : ''; ?>">
                    <label for="rating" class="col-sm-2 control-label">Оценить:</label>
                    <div class="col-sm-4">
                        <input id="rating" class="rating" data-min="0" data-max="5" data-step="1">
                        <?php if (isset($params['errors']['rating'])):?>
                            <span class="help-block"> <?php echo $params['errors']['rating'][0]; ?> </span>
                        <?php endif;?>
                    </div>
                </div>
            </form>
        <?php endif; ?>

        <p><b>Описание:</b></p>
        <p><b><?php echo $params['book']->getDescription() ?></b></p>
        <p><b>Имеется у:</b> </p>
        <?php foreach ($params['book']->getUsers() as $user): ?>
            <p><span style="font-size: medium"><?php printf("%s %s ", $user->getFirstName(), $user->getLastName()) ?></span></p>
        <?php endforeach; ?>
    </div>
</div>

<script src="/js/star-rating.js"></script>
<script type="text/javascript">
    var id = <?php echo $params['book']->getId();?>
    $("#rating").rating({'size': 'sm', 'showClear': false, 'showCaption': false});
    $('#rating').on('rating.change', function(event, value) {
        $.ajax({
            type: "POST",
            url: "/books/addRating",
            data: {rating: value, id: id},
            success: function(){
                $('#rating').rating('refresh', {readonly: true});
            }
        });
    });
</script>

<?php include(__DIR__ . '/../footer.html'); ?>
